<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">

    <script src="https://www.youtube.com/iframe_api"></script>

    <script type="module">
        import { h, render } from 'https://esm.sh/preact';
        import { useState, useEffect, useRef } from 'https://esm.sh/preact/hooks'
        import htm from 'https://esm.sh/htm';

        // Initialize htm with Preact
        const html = htm.bind(h);

        const ChannelDisplay = (props) => {
            const [loading, setLoading] = useState(false);
            const [videoUrl, setVideoUrl] = useState('');

            const randomVideo = async () => {
                setLoading(true);
                const res = await fetch(`/channel/${props.channel}/random`)
                const randomVideo = await res.json();
                window.open(randomVideo.url, '_blank');
                setVideoUrl(randomVideo.url);
                setLoading(false);
            }

            return html`
                <section class='section'>
                    <h1 class='title'>${props.channel}</h1>
                    <h2 class='subtitle'>Choose an option</h2>

                    <div class='buttons are-small'>
                        <button class='${"button is-primary is-rounded" + (loading ? " is-loading" : "")}'
                            disabled=${loading}
                            onClick='${randomVideo}'>
                            Random video
                        </button>
                        <button class='button is-link is-rounded' onClick=${() => props.onBack()}>Back</button>
                        <button class='button is-light is-rounded'>Regenarate cache</button>

                    </div>
                    ${loading &&
                        html`
                        <p>
                            Wait until I find a random video in this channel...
                        </p>
                        `
                    }
                    ${videoUrl &&
                        html`
                        <p>
                            <a href='${videoUrl}' target='_blank'>${videoUrl}</a>
                        </p>
                        `
                    }
                </section>
                `;

        }

        const TV = (props) => {
            const [videoId, setVideoId] = useState('');
            const [loading, setLoading] = useState(false);
            const [channels, setChannels] = useState([]);
            const [selectedChannels, setSelectedChannels] = useState([]);

            const player = useRef(null);

            const playNextVideo = () => {    
                if (player.current) {
                    player.current.stopVideo();
                }
                setLoading(true);
                if (selectedChannels.length === 0) {
                    setLoading(false);
                    return;
                }
                const channel = selectedChannels[Math.floor(Math.random() * selectedChannels.length)];
                fetch(`/channel/${channel}/random`)
                    .then(response => response.json())
                    .then(data => { 
                        setLoading(false);
                        const videoId = data.url.split('v=')[1];
                        setVideoId(videoId);
                    });
            }

            useEffect(() => {
                fetch('/channels')
                    .then(response => response.json())
                    .then(data => {
                        setChannels(Object.keys(data));
                        setSelectedChannels(Object.keys(data));
                    });
            }, []);

            useEffect(() => {
                if (window.YT && videoId) {
                    if (!player.current) {
                        const playerHeight = window.innerHeight * 0.8; // 80% of the viewport height               
                        player.current = new window.YT.Player('player', {
                            height: playerHeight,
                            width: '100%',
                            videoId: videoId,
                            host: 'https://www.youtube.com',
                            events: {
                                'onReady': onPlayerReady,
                                'onStateChange': onPlayerStateChange,
                            },
                            playerVars: {
                                origin: window.location,
                            }
                        });
                    } else {
                        player.current.loadVideoById(videoId);
                    }
                }
            }, [videoId]);

            function onPlayerStateChange(event) {
               if (event.data === window.YT.PlayerState.ENDED) {
                    playNextVideo();
               }
            }

            function onPlayerReady(event) {
                event.target.playVideo();
            }

            const destroyPlayer = () => {
                if (player.current) {
                    player.current.destroy();
                    player.current = null;
                }
            }

            const onBack = () => {
                destroyPlayer();
                props.onBack();
            }

            const onChannelChange = (channel) => {
                if (selectedChannels.includes(channel)) {
                    setSelectedChannels(selectedChannels.filter(c => c !== channel));
                } else {
                    setSelectedChannels([...selectedChannels, channel]);
                }
            }

            const enterFullscreen = () => {
                const elem = document.getElementById("player");

                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.mozRequestFullScreen) { /* Firefox */
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                    elem.webkitRequestFullscreen();
                } else if (elem.msRequestFullscreen) { /* IE/Edge */
                    elem.msRequestFullscreen();
                }
            }

            return html`
                <h2>Please select the channels where the next video will be played from</h2>
                <div class="columns is-multiline">
                    ${channels.map(channel => {
                        return html`
                        <div class="column is-narrow">
                            <label class="checkbox">
                                <input type="checkbox" checked=${selectedChannels.includes(channel)} onChange=${() => onChannelChange(channel)}/>
                                ${channel}
                            </label>
                        </div>`
                    })}
                </div>
                ${loading && html`<p class="has-text-centered">Finding a random video...</p>` }            
                <div id="player" class="column is-full"></div>
                <div class="columns is-centered">
                    <div class="column is-narrow">
                        <button class='button is-link is-rounded' onClick=${onBack}>Back</button>
                    </div>
                    <div class="column is-narrow">
                        <button class='button is-link is-rounded' onClick=${playNextVideo}>Next</button>
                    </div>
                    <div class="column is-narrow">
                        <button class='button is-link is-rounded' onClick=${enterFullscreen}>Fullscreen</button>
                    </div>
                </div>                                    
            `;
        }

        const ChannelSelection = () => {
            const [channels, setChannels] = useState({});
            const [channelSelected, setChannelSelected] = useState('');
            useEffect(async () => {
                const res = await fetch('/channels');
                const chs = await res.json();
                setChannels(chs);
            }, []);

            const selectChannel = (channel) => {
                setChannelSelected(channel);
            }

            if (channelSelected === 'TV') {
                return html`<${TV} onBack=${() => setChannelSelected('')}/>`
            } else if (channelSelected) {
                return html`<${ChannelDisplay} channel='${channelSelected}' onBack=${() => setChannelSelected('')}/>`
            }

            return html`
                <div class='content'>
                    <h3>Select a channel to continue</h3>
                    <nav class='panel'>
                        <p class="panel-heading">
                            Channels
                        </p>
                ${
                    Object.entries(channels).map(([k, v]) => {
                        return html`
                            <div class='card' onClick='${() => selectChannel(k)}'>
                                <div class='card-content'>
                                    <div class='content'>
                                        ${k}
                                    </div>
                                </div>
                            </div>`
                    })
                }                    
                    </nav>
                    <nav class='panel'>
                        <div class='card' onClick='${() => selectChannel('TV')}'>
                            <div class='card-content'>
                                <div class='content'>
                                    YT-Random TV
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                `;
        }

        function App () {
          return html`
            <div class='container'>
                <section class="hero is-link is-small">
                    <div class="hero-body">
                        <p class="title">
                            Youtube random video generator
                        </p>
                    </div>
                </section>
                <${ChannelSelection}/>
            </div>`;
        }

        render(html`<${App}/>`, document.body);
      </script>
    </head>
    <body>
    </body>
</html>