<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">

    <script src="https://www.youtube.com/iframe_api"></script>

    <script type="module">
        import { h, render } from 'https://esm.sh/preact';
        import { useState, useEffect, useRef } from 'https://esm.sh/preact/hooks'
        import htm from 'https://esm.sh/htm';

        // Initialize htm with Preact
        const html = htm.bind(h);

        const ChannelDisplay = (props) => {
            const [loading, setLoading] = useState(false);

            const randomVideo = async () => {
                setLoading(true);
                const res = await fetch(`/channel/${props.channel}/random`)
                const randomVideo = await res.json();
                window.open(randomVideo.url, '_blank');
                setLoading(false);
            }

            return html`
                <section class='section'>
                    <h1 class='title'>${props.channel}</h1>
                    <h2 class='subtitle'>Choose an option</h2>

                    <div class='buttons are-small'>
                        <button class='${"button is-primary is-rounded" + (loading ? " is-loading" : "")}'
                            disabled=${loading}
                            onClick='${randomVideo}'>
                            Random video
                        </button>
                        <button class='button is-link is-rounded' onClick=${() => props.onBack()}>Back</button>
                        <button class='button is-light is-rounded'>Regenarate cache</button>

                    </div>
                    ${loading &&
                        html`
                        <p>
                            Wait until I find a random video in this channel...
                        </p>
                        `
                    }
                </section>
                `;

        }

        const TV = (props) => {
            const [videoId, setVideoId] = useState('');
            const [loading, setLoading] = useState(false);
            const player = useRef(null);

            const playNextVideo = () => {
                setLoading(true);
                if (player.current) {
                    player.current.destroy();
                }                
                fetch('/random')
                    .then(response => response.json())
                    .then(data => { 
                        setLoading(false);
                        const videoId = data.url.split('v=')[1];
                        setVideoId(videoId);
                    });
            }

            useEffect(() => {
                playNextVideo();
            }, []);

            useEffect(() => {
                if (window.YT && videoId) {     
                    const playerHeight = window.innerHeight * 0.6; // 60% of the viewport height               
                    player.current = new window.YT.Player('player', {
                        height: playerHeight,
                        width: '100%',
                        videoId: videoId,
                        host: 'https://www.youtube.com',
                        events: {
                            'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange,
                        },
                        playerVars: {
                            origin: window.location,
                        }
                    });

                }
            }, [videoId]);

            function onPlayerStateChange(event) {
               if (event.data === window.YT.PlayerState.ENDED) {
                fetch('/random')
                    .then(response => response.json())
                    .then(data => { 
                        const videoId = data.url.split('v=')[1];
                        event.target.loadVideoById(videoId);
                    });
                }
            }

            function onPlayerReady(event) {
                event.target.playVideo();
            }

            const nextVideo = () => {
                playNextVideo();
            }

            return html`
                ${loading ? 
                    html`<p class="has-text-centered">Finding a random video...</p>` :
                    html`
                        <div id="player" class="column is-full"></div>
                        <div class="columns is-centered">
                            <div class="column is-narrow">
                                <button class='button is-link is-rounded' onClick=${() => { player.current.destroy(); props.onBack()}}>Back</button>
                            </div>
                            <div class="column is-narrow">
                                <button class='button is-link is-rounded' onClick=${nextVideo}>Next</button>
                            </div>
                        </div>
                    `
                }
            `;
        }

        const ChannelSelection = () => {
            const [channels, setChannels] = useState({});
            const [channelSelected, setChannelSelected] = useState('');
            useEffect(async () => {
                const res = await fetch('/channels');
                const chs = await res.json();
                setChannels(chs);
            }, []);

            const selectChannel = (channel) => {
                console.log('selectChannel', channel);
                setChannelSelected(channel);
            }

            if (channelSelected === 'TV') {
                return html`<${TV} onBack=${() => setChannelSelected('')}/>`
            } else if (channelSelected) {
                return html`<${ChannelDisplay} channel='${channelSelected}' onBack=${() => setChannelSelected('')}/>`
            }

            return html`
                <div class='content'>
                    <h3>Select a channel to continue</h3>
                    <nav class='panel'>
                        <p class="panel-heading">
                            Channels
                        </p>
                ${
                    Object.entries(channels).map(([k, v]) => {
                        return html`
                            <div class='card' onClick='${() => selectChannel(k)}'>
                                <div class='card-content'>
                                    <div class='content'>
                                        ${k}
                                    </div>
                                </div>
                            </div>`
                    })
                }                    
                    </nav>
                    <nav class='panel'>
                        <div class='card' onClick='${() => selectChannel('TV')}'>
                            <div class='card-content'>
                                <div class='content'>
                                    YT-Random TV
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                `;
        }

        function App () {
          return html`
            <div class='container'>
                <section class="hero is-link is-small">
                    <div class="hero-body">
                        <p class="title">
                            Youtube random video generator
                        </p>
                    </div>
                </section>
                <${ChannelSelection}/>
            </div>`;
        }

        render(html`<${App}/>`, document.body);
      </script>
    </head>
    <body>
    </body>
</html>